.lx-c-roles {
    width: 100%;
}

.lx-c-roles-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: baseline;
    gap: 1rem;
    animation: fromDownAppear 1s ease;
}