.lx-p-offline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--lx-color-text);
    text-align: center;
}

.lx-p-offline-icon {
    font-size: 100px;
    margin-bottom: 20px;
    background: var(--lx-background-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lx-p-offline p {
    color: var(--lx-color-text-softer);
}