.lx-c-event-details {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(200deg, rgb(from var(--lx-c-event-details-color) r g b / 10%) -10%, transparent 50%);
}

.lx-c-event-details-header {
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lx-c-event-details-header .info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lx-c-event-details-header .actions {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.lx-c-event-details-header .--name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--lx-color-text);
}

.lx-c-event-details-header .--description {
    font-size: 14px;
    color: var(--lx-color-text-softest);
}

.lx-c-event-details-header .--overview {
    padding-top: 10px;
}

.lx-c-event-details-header .--overview .summary {
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    background: var(--lx-color-accent-dimed);
    color: var(--lx-color-accent);
    border-radius: var(--lx-border-radius-full);
}

.lx-c-event-details-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.lx-c-event-details-actions {
    width: 100%;
    display: flex;
    gap: .5rem;
    border-bottom: var(--lx-primary-border);
}

.lx-c-event-details-enrollment-status {
    width: fit-content;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 8px;
    background: var(--lx-color-accent-dimed);
    color: var(--lx-color-accent);
    border-radius: var(--lx-border-radius-full);
    border: 0.01rem solid var(--lx-color-accent-dimed);
}

.lx-c-event-details-enrollment-date {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.lx-c-event-details-add-organizers {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 2rem;
}

.lx-c-event-details-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.lx-c-event-details-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}

.lx-c-event-details-info-card {
    background: var(--lx-color-background-primary);
    padding: 1.5rem;
    border-radius: var(--lx-border-radius-s);
    border: var(--lx-primary-border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lx-c-event-details-info-card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--lx-color-text-soft);
    font-weight: 500;
}

.lx-c-event-details-info-card-header i {
    color: var(--lx-color-text-softer);
}

.lx-c-event-details-info-card-value {
    color: var(--lx-color-text);
    font-size: 1.1rem;
    font-weight: 500;
}

.lx-c-event-details-info-description {
    background: var(--lx-color-background-primary);
    padding: 1.5rem;
    border-radius: var(--lx-border-radius-s);
    border: var(--lx-primary-border);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}