.lx-c-loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 900;
}

.lx-c-loader.--animated {
  transition: opacity 1s ease, visibility 1s ease;
}

.lx-c-loader.--primary {
  background: var(--lx-color-background-primary);
}

.lx-c-loader.--secondary {
  background: var(--lx-color-background-secondary);
}

.lx-c-loader.--ternary {
  background: var(--lx-color-background-ternary);
}

.lx-c-loader.--special {
  background: var(--lx-color-background-special);
}

.lx-c-loader.--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.lx-c-loader.--inactive {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.lx-c-loader-logo {
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: pulse 2s ease infinite;
  will-change: transform;
}

.lx-c-loader-spinner {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: var(--lx-border-radius-circle);
  height: var(--lx-spinner-size-xxxl);
  width: var(--lx-spinner-size-xxxl);
  min-height: var(--lx-spinner-size-xxxl);
  min-width: var(--lx-spinner-size-xxxl);
  max-height: var(--lx-spinner-size-xxxl);
  max-width: var(--lx-spinner-size-xxxl);
  color: var(--lx-color-auto);
}

.lx-c-loader-spinner:before,
.lx-c-loader-spinner:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: var(--lx-border-radius-circle);
  transform: rotateX(70deg);
  animation: 1s loaderSpin linear infinite;
  /* filter: blur(1px); */
}

.lx-c-loader-spinner:after {
  color: var(--lx-color-accent);
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes loaderSpin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}